<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

        <beans>
	
		
		<bean id="std" class="com.Entity.Student">
		
		<property name="sid" value="1"></property>
		<property name="sname" value="Suraj Thorat"></property>
		<property name="sage" value="22"></property>
		
		</bean>
    
    
    
        </beans>